.manta-network{
    width: auto;
    margin-top: 50px;
}
.manta-network h1{
    margin-left: 70px;
    width: 250px;
}
.manta-network div{
    display: flex;
    width: 250px;
    margin-left: 70px;
    justify-content: space-between;
}
.manta-network div p{
    font-size: 19px;
}
.manta-network div span{
    font-size: 20px;
}
.about{
    width: 380px;
    margin-left: 70px;
}
.about div i{
    margin-right: 10px;
}